<!--Begin Direction Details-->
<section id="direction-details">
    <div class="content-wrapper">
        <section class="image-section" style="background-color: #00000; min-height: 200px;">
            <!--<h3>Get around Lviv</h3>-->
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left same-height-wrapper">
                <div class="col-md-6 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                        <h4>Informació</h4>
                        <p>
                            Casa Corbella romandrà tancada al públic excepte els dies de les activitats. Si teniu qualsevol dubte, suggeriment o proposta, no dubteu a contactar amb nosaltres. Us respondrem al més aviat possible. </p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                        <h4>Contacte</h4>
                        <ul>
                            <li><a href="mailto:hola@casacorbella.cat" target="_top">hola@casacorbella.cat</a></li>
                            <li><a href="mailto:casacorbella@gmail.com" target="_top">casacorbella@gmail.com</a></li>
                            <li>Gestió (Elisabet): <a href="tel:+34675348726">+34675348726</a></li>
                            <li>Programació (Adri): <a href="tel:+34675348726">+34686777047</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <div class="card">
                        <h4>Segueix-nos</h4>
                        <p>Vols estar al dia de Casa Corbella?</p>
                        <ul class="social-links">
                            <li>
                                <a href="{{site.gplusFollowUsUrl}}" target="_blank">
                                    <svg class="icon icon-google-plus" viewBox="0 0 30 32">
                                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-google-plus"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="{{site.twitterFollowUsUrl}}" target="_blank">
                                    <svg class="icon icon-twitter" viewBox="0 0 30 32">
                                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="{{site.fbFollowUsUrl}}" target="_blank">
                                    <svg class="icon icon-facebook" viewBox="0 0 30 32">
                                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
                                    <svg class="icon icon-rss" viewBox="0 0 30 32">
                                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-rss"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <div class="card">
                        <h4>On som?</h4>
                        <ul>
                            <li><b>Casa Corbella</b></li>
                            <li>Avinguda Eduard Corbella 1</li>
                            <li>08440 Cardedeu (Barcelona)</li>
                            <li><b>GPS:</b> 41º 38' 33.298" N - 2º 21' 22.821" E</li>
                            <li><a href="https://www.google.es/maps/place/Avinguda+Eduard+Corbella,+1,+08440+Cardedeu,+Barcelona/@41.6427203,2.3563783,215m/data=!3m1!1e3!4m2!3m1!1s0x12a4c93be4ad7d7d:0xe19862a6daab4372?hl=es" target="_blank">Veure a Google Maps</a></li>

                        </ul>
                    </div>
                </div>
                <!-- <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        <h4>Questions?</h4>
                        <div class="col-md-4 col-xs-12">
                            <h5>General</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>Registration</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>Attendance Details</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div -->
            </div>
        </div>

        <div class="row">
        </div>
    </div>
</section>
<!-- End Direction Details