<section id="imatges" class="imatges">

    <div id="container" class="cf">
      <div id="main" role="main">
        <section class="slider">
          <div id="slider" class="flexslider">
            <ul class="slides">
              {% for imatgeCasa in site.data.imatgesCasa %}
                {% if imatgeCasa.id == page.id %}
                  {% for imatges in imatgeCasa.photos %}
                      <li>
                          <img src="{{ site.baseurl }}/img/loading/loading.gif" data-src="{{ site.baseurl }}/img/{{imatgeCasa.folder}}/{{imatgeCasa.name}}{{imatges}}.jpg" alt="{{page.title}} - {{site.title}}" />
                      </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div id="carousel" class="flexslider">
            <ul class="slides">
              {% for imatgeCasa in site.data.imatgesCasa %}
                {% if imatgeCasa.id == page.id %}
                  {% for imatges in imatgeCasa.photos %}
                      <li>
                          <img src="{{ site.baseurl }}/img/{{imatgeCasa.folder}}/thumbs/{{imatgeCasa.name}}{{imatges}}.jpg" alt="{{page.title}} - {{site.title}}" />
                      </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </section>
      </div>
    </div>

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>

    <!-- FlexSlider -->
    <script defer src="{{ site.baseurl }}/js/jquery.flexslider.js"></script>

    <script type="text/javascript">
      $(function(){
        SyntaxHighlighter.all();
      });
      $(window).load(function(){
        $('#carousel').flexslider({
          animation: "slide",
          controlNav: false,
          animationLoop: false,
          slideshow: false,
          itemWidth: 210,
          itemMargin: 5,
          asNavFor: '#slider'
        });

        $('#slider').flexslider({
          animation: "slide",
          controlNav: false,
          animationLoop: false,
          slideshow: false,
          sync: "#carousel",
          start: function(slider){
            $('body').removeClass('loading');
          }
        });
      });
    </script>

</section>