<section id="gallery">
        <div class="ftg-items parent-container mfp-zoom-out-cur">
            {% for dataGrid in site.data.grid %}
                    {% if dataGrid.id == page.id %}
                      {% for imatges in dataGrid.photos %}
                        <article class="tile ftg-set-{{imatges}}">
                            <a class="image-link" href="{{ site.baseurl }}/img/fotografies/{{dataGrid.folder}}/{{dataGrid.name}}{{imatges}}.jpg">
                                <img class="item" src="{{ site.baseurl }}/img/fotografies/{{dataGrid.folder}}/{{dataGrid.name}}{{imatges}}.jpg" alt="{{page.title}} - {{site.title}}"/>
                                <div class="caption">
                                    <i class="fa fa-search zoom"></i>
                                </div>
                                <div class="socialButtons">
                                    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='15616898' data-title='{{page.title}} - {{site.title}}' data-link='http://www.casacorbella.cat/img/fotografies/{{dataGrid.folder}}/{{dataGrid.name}}{{imatges}}.jpg' data-image='http://www.casacorbella.cat/img/fotografies/{{dataGrid.folder}}/{{dataGrid.name}}{{imatges}}.jpg' data-summary="Veure més imatges a http://www.casacorbella.cat{{page.permalink}}"></div>
                                </div>
                            </a>
                        </article>
                    {% endfor %}
                {% endif %}
            {% endfor %}             
        </div>
    </section>