<!-- Begin Organizers Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- <h3>Organizers</h3> -->
            <h5>Organitzadors</h5>
            <ul class="list-inline">
                <li>
                    <a href="http://www.rubenmartinezsantana.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/laSedDeLaSal/ruben-martinez-santana.jpg" alt="Rubén Martinez Santana">
                    </a>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/logos/logoNormal.jpg" alt="Casa Corbella">
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End Organizers Section -->