<!-- Begin Organizers Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- <h3>Organizers</h3> -->
            <h5>Organitzadors</h5>
            <ul class="list-inline">
                <li>
                    <img src="{{ site.baseurl }}/img/logos/logoNormal.jpg" alt="Casa Corbella">
                </li>
                <li>
                    <a href="https://www.facebook.com/Racontades/" target="_blank">
                        <img src="{{ site.baseurl }}/img/racontades/logos/racontades.jpg" alt="Racontades">
                    </a>
                </li>
            </ul>
            <h5>Col·laboradors</h5>
            <ul class="list-inline">
                <li>
                    <a href="http://www.cervesasantjordi.cat" target="_blank">
                        <img src="{{ site.baseurl }}/img/racontades/logos/santJordi.jpg" alt="Cervesa Sant Jordi">
                    </a>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/racontades/logos/tastavins.jpg" alt="Tastavins">
                </li>
                <li>
                    <a href="http://maspellisser.blogspot.com.es/" target="_blank">
                        <img src="{{ site.baseurl }}/img/racontades/logos/maspellisser.jpg" alt="Mas Pellisser">
                    </a>
                </li>
                <li>
                    <a href="http://www.ratafiabosch.cat/" target="_blank">
                        <img src="{{ site.baseurl }}/img/racontades/logos/ratafiabosch.jpg" alt="Mas Pellisser">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End Organizers Section -->