<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="parallax" style="background-image: url({{ site.baseurl }}/img/twitter-feed.jpg);">
    <div class="overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
            <svg class="icon" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
            </svg>
            <h3><a href="https://twitter.com/search?q=%23{{ site.twitterHashTag }}" target="_blank">#{{ site.twitterHashTag }}</a>
            </h3>
            <!-- <div id="tweets" class="tweets"></div> -->
            <a class="twitter-timeline"
              href="https://twitter.com/casacorbella"
              data-widget-id="511072183511027712"
              data-theme="dark"
              data-link-color="#81d4fa"
              data-related="twitterapi,twitter"
              data-chrome="nofooter noborders transparent"
              data-aria-polite="assertive"
              width="1200"
              height="400">
            Tweets de @casacorbella
            </a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
