<!-- Begin Top Section -->
<section id="top-section-hero">

    {% include navigation.html %}
    <div class="content-wrapper videoNav">
    	<iframe src="https://youtube.com/embed/NFqK1b2YYug?autoplay=0&amp;autohide=1&amp;theme=dark&amp;color=white&amp;showinfo=1&amp;rel=0"></iframe>
	    <a href="#imatges" class="explore">
	        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
	            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
	        </svg>
	    </a>
	</div>
</section>
<!-- End Top Section -->