<!-- Judges Section -->
<section id="judges" class="judges image-section parallax" style="background-image: url({{ site.baseurl }}/img//festivalfresc/imatges/imatge4.jpg);">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="video-container">
                <iframe width="853" height="480" src="http://www.youtube.com/embed/7kut1XO11Gk?rel=0&amp;controls=1&amp;autohide=2&amp;controls=1&amp;modestbranding=1&amp;theme=dark&amp;color=white&amp;showinfo=1&amp;cc_load_policy=1" class="responsiveVideo" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<!-- End Judges Section -->
