<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Blog">

{% include head.html %}

<body>
    <div id="preloader">
        <div class="center">
          <div class="bouncywrap">
                
                <div class="dotcon dc1">
                <div class="dot"></div>
                </div>
            
                <div class="dotcon dc2">
                <div class="dot"></div>
                </div>
            
                <div class="dotcon dc3">
                <div class="dot"></div>
                </div>
         
          </div>
        </div>
    </div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1476447909298146',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">

                {{ content }} 

                {% include footer.html %}

            </div>
        </div>
    </div>

    {% if page.modal != null %} 
    	{% include speakers-modals.html %} 
    {% endif %} 

    {% include analytics.html %}
    
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- jQuery local fallback -->
    <script>
    window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS local fallback -->
    <script>
    if (typeof($.fn.modal) === 'undefined') {
        document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}><\/script>')
    }
    </script>
    <script src="{{ "/js/jquery.appear.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/waves.min.js" | prepend: site.baseurl }}"></script>
    <script>
    $(document).ready(function() {
        var bodyColor = $('body').css('color');
        if (bodyColor != 'rgb(51, 51, 51)') {
            $("head").prepend('<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">');
        }
    });
    </script>
    <script src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.unveil.js" | prepend: site.baseurl }}"></script>

    <link rel="stylesheet" href="{{site.baseurl}}/css/magnific-popup.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="{{ "/js/jquery.magnific-popup.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/js/jquery.finalTilesGallery.js" | prepend: site.baseurl }}"></script>

  <script type="text/javascript">
//<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = 'de7eb8b657a7a565d4e383ef475473fa';
      try { Shareaholic.init(site_id); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
//]]>
</script>

   <script>

        $('.socialButtons').click(function(e) {
            e.stopPropagation();
        });

        //instantiate Final Tiles Gallery
        $("#gallery").finalTilesGallery({
            minTileWidth: 180,
            margin: 10,
            gridCellSize: 30,
            autoLoadOffset: 5
        });
        $(document).ready(function() {
          $('.parent-container').magnificPopup({
            mainClass: 'mfp-with-zoom',
              delegate: '.image-link', // child items selector, by clicking on it popup will open
              type: 'image',
              gallery:{
                enabled:true,
                preload: [0,2]
            },
              image: {
                cursor: 'mfp-zoom-out-cur'
            },
            preloader: true,
            zoom: {
                enabled: true, // By default it's false, so don't forget to enable it

                duration: 300, // duration of the effect, in milliseconds
                easing: 'ease-in-out', // CSS transition easing function 

                // The "opener" function should return the element from which popup will be zoomed in
                // and to which popup will be scaled down
                // By defailt it looks for an image tag:
                opener: function(openerElement) {
                  // openerElement is the element on which popup was initialized, in this case its <a> tag
                  // you don't need to add "opener" option if this code matches your needs, it's defailt one.
                  return openerElement.is('img') ? openerElement : openerElement.find('img');
                }
            } 
            });
        });
    </script> 
</body>
</html>
